@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Goldman", cursive;
  background: linear-gradient(to right, #c33764, #1d2671);
  color: aqua;
  flex-direction: column;
}

.carousel {
  overflow: hidden;
  height: 400px;
  width: 400px;
}

.image-container {
  display: flex;
  transition: transform 0.3s linear;
  transform: translateX(0);
}

img {
  object-fit: cover;
  height: 400px;
  width: 400px;
}
